$z-index: ( modal: 200, navigation: 100, footer: 90, triangle: 60, navigation-rainbow: 50, share-type: 41, share: 40, );
@function z-index($key) {
    @return map-get($z-index, $key);
}
@mixin z-index($key) {
    z-index: z-index($key);
}
@mixin box-shadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}
@mixin border-radius($border-radius) {
    -webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	border-radius: $border-radius;
}
.header{
	border-bottom: 1px solid #ddd;position: fixed;background: #fff;
	@include z-index(navigation);
	@include box-shadow(0px 1px 3px 0px rgba(191,191,191,1))
	.logo{
		a{
			height:84px;padding:10px 0;
			display: block;cursor: pointer;
		}
	}
}
.main{
	background: #F3F3F3;
	padding-top: 84px;position: relative;min-height: 1000px;
	.title{
		margin:30px 0;
		.text-pri{
			text-transform: uppercase;font-weight: bold;
			font-size: 24px;color: #333;margin-bottom: 0;
		}
		.separator{
			position: relative;
		    display: inline-block;
			&:after{
				width: 100px;
			    display: block;
			    margin: auto;
			    content: "";
			    height: 1px;
			    background: #db2d2e;
			    bottom: 0px;
			    left: 50%;
			}
			&:before{
				content: '';
			    display: block;
			    margin: auto;
			    left: 50%;
			    height: 1px;
			    width: 50px;
			    bottom: -15px;
			    background: #db2d2e;
			    margin-bottom: 6px;
			}
		}
	}
	.list-data{
		-moz-column-count: 3;
	    -webkit-column-count: 3;
	    column-count: 3;
	    -moz-column-gap: 1em;
	    -webkit-column-gap: 1em;
	    column-gap: 1em;
		.item{
		    display: inline-block;
		    margin: 0 0 1em;
		    width: 100%;
			.group-item{
				background: #fff;padding:15px;
				@include box-shadow(0px 1px 3px 0px rgba(191,191,191,1))
				.media{
					display: block;
				}
				.snippet{
					font-size: 14px;color: #333;padding: 10px 0;
				}
				.footer-item{
					color:#999;font-size: 12px;display:block;padding-bottom: 15px;
				}
				.btn{
					@include border-radius(0);background: #333;margin:auto;
					display: block;border-color:#000;cursor: pointer;
					&:hover{
						background:#222;color:#fff;
					}
				}
			}
		}
	}
	.page-item{
		cursor: pointer;
		&.active{
			.page-link{
				background: #333;border:1px solid #333;color:#fff;
			}
		}
	}
	.loading{
	  display: block;margin: 50px;
	  text-align:center;
	  i{
	     font-size: 50px;
	  }
	}
}
.footer{
	background: #000;
	color: #9e9e9e;
	.copyright{
		text-align: center;padding:20px;
	}
}
.owl-theme .owl-nav.disabled + .owl-dots{margin:0 0 20px 0;}
ngx-smart-modal{
	.group-item{
		padding:30px 0 0 0;
		.snippet{
			font-size:14px;padding:10px 0;
		}
		.footer-item{
			color:#999;font-size:11px;
		}
	}
}
@media (max-width: 1000px) {
  .list-data {
    -moz-column-count: 2 !important;
    -webkit-column-count: 2 !important;
    column-count: 2 !important;
  }
}
@media (max-width: 768px) {
  .list-data {
    -moz-column-count: 1 !important;
    -webkit-column-count: 1 !important;
    column-count: 1 !important;
  }
}