<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 copyright">
				<span class="t-f">© Copyright 2018 by Mr.Nam - Exercise Front-End Developer</span>
			</div>
		</div>
	</div>
</footer>
