<header class="col-md-12 header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 logo text-center">
				<a><img src="./assets/images/logo.png"></a>
			</div>
		</div>
	</div>
</header>