
<section class="main">
	<div class="container">
		<div class="row">
			<div class="col-md-12 title text-center">
				<p class="text-pri">Latest Article</p>
				<span class="separator"></span>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 offset-lg-3 d-flex">
				<ul class="pagination mx-auto">
					<li class="page-item">
						<a class="page-link" (click)="page(currentPage - 1)"  aria-label="Previous">
							<span aria-hidden="true">«</span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
					<li class="page-item active">
						<a class="page-link" >{{currentPage}}</a>
					</li>
					<li class="page-item">
						<a class="page-link" (click)="page(currentPage + 1)" aria-label="Next">
							<span aria-hidden="true">»</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="list-data">
			<div class="item" *ngFor="let article of data" >
				<div class="group-item" >
					<div class="media text-center" *ngIf="article.multimedia.length > 0">
						<a class="text-center">
							<img class="img-fluid" src="https://static01.nyt.com/{{article.multimedia[0]['url']}}">
						</a>
					</div>
					<div class="snippet">
						{{article.snippet}}
					</div>
					<div class="footer-item">
						<span class="time">{{article.pub_date | date:'shortTime'}}</span>
						<span class="source pull-right">{{article.source}}</span>
					</div>
					<button *ngIf="article.multimedia.length > 0" class="btn btn-primary btn-sm" (click)="detail(article.multimedia[0]['url'],article.snippet,article.pub_date,article.source)">View more</button>
					<button *ngIf="article.multimedia.length <= 0" class="btn btn-primary btn-sm" (click)="detail('',article.snippet,article.pub_date,article.source)">View more</button>
				</div>
			</div>
		</div>
		
		<div class="loading text-center" *ngIf="is_load" ><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
		<div class="row">
			<div class="col-lg-6 offset-lg-3 d-flex">
				<ul class="pagination mx-auto">
					<li class="page-item">
						<a class="page-link" (click)="page(currentPage - 1)"  aria-label="Previous">
							<span aria-hidden="true">«</span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
					<li class="page-item active">
						<a class="page-link" >{{currentPage}}</a>
					</li>
					<li class="page-item">
						<a class="page-link" (click)="page(currentPage + 1)" aria-label="Next">
							<span aria-hidden="true">»</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<ngx-smart-modal #modalData [identifier]="'modalData'">
  <div *ngIf="modalData.hasData()">
    	<div class="group-item" >
			<div class="media text-center" *ngIf="modalData.getData()['multimedia'] != ''">
				<a class="text-center">
					<img class="img-fluid" src="https://static01.nyt.com/{{modalData.getData()['multimedia']}}">
				</a>
			</div>
			<div class="snippet">
				{{modalData.getData()['snippet']}}
			</div>
			<div class="footer-item">
				<span class="time">{{modalData.getData()['pub_date'] | date:'shortTime'}}</span>
				<span class="source pull-right">{{modalData.getData()['source']}}</span>
			</div>
		</div>
  </div>
</ngx-smart-modal>